v: 3

db: /home/{{ .Model.MustVariable "credentials.ssh.username" }}/fablab/ctrl.db
routerDataModel:
  enabled: true

identity:
  cert: /home/{{ .Model.MustVariable "credentials.ssh.username" }}/fablab/pki/{{ .Component.Id }}/certs/{{ .Component.Id }}-server.chain.pem
  key: /home/{{ .Model.MustVariable "credentials.ssh.username" }}/fablab/pki/{{ .Component.Id }}/keys/{{ .Component.Id }}-server.key
  ca: /home/{{ .Model.MustVariable "credentials.ssh.username" }}/fablab/pki/{{ .Component.Id }}/certs/{{ .Component.Id }}.chain.pem

trustDomain: circuit-perf-diff

commandRateLimiter:
    enabled:   true
    maxQueued: 25

ctrl:
  listener: tls:0.0.0.0:6262
  options:
    advertiseAddress: tls:{{ .Host.PublicIp }}:6262

events:
  entityChangeEventsLogger:
    subscriptions:
      - type: entityChange
        propagateAlways: true
    handler:
      type: file
      format: json
      path: /home/{{ .Model.MustVariable "credentials.ssh.username" }}/logs/entity-change.log

  circuitEventsLogger:
    subscriptions:
      - type: circuit
    handler:
      type: file
      format: json
      path: /home/{{ .Model.MustVariable "credentials.ssh.username" }}/logs/circuits.log

  linkEventsLogger:
    subscriptions:
      - type: link
    handler:
      type: file
      format: json
      path: /home/{{ .Model.MustVariable "credentials.ssh.username" }}/logs/links.log

  routerEventsLogger:
    subscriptions:
      - type: router
    handler:
      type: file
      format: json
      path: /home/{{ .Model.MustVariable "credentials.ssh.username" }}/logs/router.log

healthChecks:
  boltCheck:
    interval: 30s
    timeout: 15s
    initialDelay: 15s

edge:
  api:
    sessionTimeout: 30m
    address: {{ .Host.PublicIp }}:1280
  enrollment:
    signingCert:
      cert: /home/{{ .Model.MustVariable "credentials.ssh.username" }}/fablab/pki/{{ .Component.Id }}/certs/{{ .Component.Id }}.cert
      key: /home/{{ .Model.MustVariable "credentials.ssh.username" }}/fablab/pki/{{ .Component.Id }}/keys/{{ .Component.Id }}.key
    edgeIdentity:
      duration: 1h
    edgeRouter:
      duration: 1h

web:
  - name: all-apis-localhost
    bindPoints:
      - interface: 0.0.0.0:1280
        address: {{ .Host.PublicIp }}:1280
    options:
      idleTimeout: 5000ms
      readTimeout: 5000ms
      writeTimeout: 100000ms
      minTLSVersion: TLS1.2
      maxTLSVersion: TLS1.3
    apis:
      - binding: health-checks
      - binding: fabric
      - binding: edge-management
      - binding: edge-client
      - binding: edge-oidc
