connectors:
  default:
    sdk:
      identity_file: /home/{{ .Model.MustVariable "credentials.ssh.username" }}/fablab/cfg/{{ .Component.Id }}.json
      report_sdk_metrics: true
      ha: {{ .Component.GetFlag "ha"}}
      max_control_underlays: 1
      max_data_underlays: 3
      enable_sdk_xgress: true
      test_service: latency

remoteControlled:
  connector: default
  service: sim-control

metrics:
  connector: default
  service: metrics
  interval: 5s
  clientId: {{ .Component.Id }}

workloads:
{{ if and (.Component.BoolVariable "testSdkXgHost") (.Component.BoolVariable "testThroughput") }}
  - name:         throughput-xg
    service_name: throughput-xg
    connector:    default
    {{ $.Model.MustVariable "throughputWorkload" }}
{{end}}

{{ if and (.Component.BoolVariable "testErtHost") (.Component.BoolVariable "testThroughput") }}
  - name:         throughput-ert
    service_name: throughput-ert
    connector:    default
    {{ $.Model.MustVariable "throughputWorkload" }}
{{end}}

{{ if and (.Component.BoolVariable "testSdkXgHost") (.Component.BoolVariable "testLatency") }}
  - name:         latency-xg
    service_name: latency-xg
    connector:    default
    {{ $.Model.MustVariable "latencyWorkload" }}
{{end}}

{{ if and (.Component.BoolVariable "testErtHost") (.Component.BoolVariable "testLatency") }}
  - name:         latency-ert
    service_name: latency-ert
    connector:    default
    {{ $.Model.MustVariable "latencyWorkload" }}
{{end}}
