{{$ssh_username := .Model.MustVariable "credentials.ssh.username"}}
{{$identity := .Component.Id}}
{{$router_ip := .Host.PublicIp}}

v: 3

enableDebugOps: true

identity:
  cert:                 /home/{{$ssh_username}}/fablab/cfg/{{$identity}}-client.cert
  server_cert:          /home/{{$ssh_username}}/fablab/cfg/{{$identity}}-server.cert
  key:                  /home/{{$ssh_username}}/fablab/cfg/{{$identity}}.key
  ca:                   /home/{{$ssh_username}}/fablab/cfg/{{$identity}}-server.chain.pem

tls:
  handshakeTimeout: 30s

ctrl:
  endpoints: {{ range $host := .Model.MustSelectHosts "component.ctrl" 1 }}
    - tls:{{ $host.PublicIp }}:6262{{end}}
  startupTimeout: 5m

healthChecks:
  ctrlPingCheck:
    interval: 30s
    timeout: 15s
    initialDelay: 15s

metrics:
  reportInterval: 15s
  messageQueueSize: 10

link:
  listeners:
    - binding:          transport
      bind:             tls:0.0.0.0:6000
      advertise:        tls:{{$router_ip}}:6000
  dialers:
    - binding:          transport
      split: false
      options:
        connectTimeout: 30s

listeners:
{{if .Component.HasTag "tunneler"}}
  - binding: tunnel
    options:
{{if .Component.HasTag "loop-client"}}
      mode: tproxy
{{else}}
      mode: host
{{end}}
{{end}}
  - binding: edge
    address: tls:0.0.0.0:6262
    options:
      advertise: {{ .Host.PublicIp }}:6262

edge:
  csr:
    country: US
    province: NC
    locality: Charlotte
    organization: NetFoundry
    organizationalUnit: Ziti
    sans:
      ip:
        - {{ .Host.PublicIp }}
