.DS_Store
release/
db/
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tools
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# goland
.idea
github_deploy_key
.vscode/
Pipfile
ziti.ignore
linux-build
*.log
/build/
