connectors:
  default:
    sdk:
      identity_file: /home/{{ .Model.MustVariable "credentials.ssh.username" }}/fablab/cfg/{{ .Component.Id }}.json
      report_sdk_metrics: true

remoteControlled:
  connector: default
  service: sim-control

metrics:
  connector: default
  service: metrics
  interval: 5s
  clientId: {{ .Component.Id }}

{{ range .Component.MustVariable "throughput-services" }}
workloads:
  - name:         {{ . }}
    service_name: {{ . }}
    connector:    default
    {{ $.Model.MustVariable "throughputWorkload" }}
{{ end }}

{{ range .Component.MustVariable "latency-services" }}
  - name:         {{ . }}
    service_name: {{ . }}
    connector:    default
    {{ $.Model.MustVariable "latencyWorkload" }}
{{ end }}

{{ range .Component.MustVariable "slow-services" }}
  - name:         {{ . }}
    connector:    default
    service_name: {{ . }}
    {{ $.Model.MustVariable "slowWorkload" }}
{{ end }}