connectors:
  default:
    sdk:
      identity_file: /home/{{ .Model.MustVariable "credentials.ssh.username" }}/fablab/cfg/{{ .Component.Id }}.json
      report_sdk_metrics: true
      ha: {{ .Component.GetFlag "ha"}}
      max_control_underlays: 1
      test_service: latency

remoteControlled:
  connector: default
  service: sim-control

metrics:
  connector: default
  service: metrics
  interval: 5s
  clientId: {{ .Component.Id }}

workloads:
  - name:         throughput
    service_name: throughput
    connector:    default
    {{ $.Model.MustVariable "throughputWorkload" }}

  - name:         latency
    service_name: latency
    connector:    default
    {{ $.Model.MustVariable "latencyWorkload" }}
