---
swagger: '2.0'
info:
  version: 0.16.3
  title: Ziti Edge
  contact: { }
host: demo.ziti.dev
basePath: /edge/v1
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  ztSession:
    type: apiKey
    in: header
    name: zt-session

#######################################################################################################################
#
# Paths - Endpoints and their associated HTTP methods
#
#######################################################################################################################
paths:
  ###################################################################
  # .well-known RFC
  ##################################################################
  '/.well-known/est/cacerts':
    get:
      summary: Get CA Cert Store
      description: |
        This endpoint is used during enrollments to bootstrap trust between enrolling clients and the Ziti Edge API.
        This endpoint returns a base64 encoded PKCS7 store. The content can be base64 decoded and parsed by any library
        that supports parsing PKCS7 stores.
      security: [ ]
      tags:
        - Well Known
      operationId: listWellKnownCas
      produces:
        - application/pkcs7-mime
      responses:
        '200':
          description: A base64 encoded PKCS7 store
          schema:
            type: string
            example: 'MIIMUQYJKoZIhvcNAQcCoIIMQjCCDD4CAQExADALBgkqhkiG9w0BBwGgggwkMIIG
                      BjCCA+6gAwIBAgICEAAwDQYJKoZIhvcNAQELBQAwgZcxCzAJBgNVBAYTAlVTMRcw
                      FQYDVQQIDA5Ob3J0aCBDYXJvbGluYTESMBAGA1UEBwwJQ2hhcmxvdHRlMRMwEQYD
                      VQQKDApOZXRGb3VuZHJ5MSkwJwYDVQQLDCBOZXRGb3VuZHJ5IENlcnRpZmljYXRl
                      IEF1dGhvcml0eTEbMBkGA1UEAwwSTmV0Rm91bmRyeSBSb290IENBMB4XDTE4MDUx
                      ODE2NTcyM1oXDTI4MDUxNTE2NTcyM1owgYsxCzAJBgNVBAYTAlVTMRcwFQYDVQQI
                      DA5Ob3J0aCBDYXJvbGluYTETMBEGA1UECgwKTmV0Rm91bmRyeTEpMCcGA1UECwwg
                      TmV0Rm91bmRyeSBDZXJ0aWZpY2F0ZSBBdXRob3JpdHkxIzAhBgNVBAMMGk5ldEZv
                      dW5kcnkgSW50ZXJtZWRpYXRlIENBMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIIC
                      CgKCAgEAsb1EPhMUweS9WpjT7L54xAOmZqugJ6fhSrFfLUwNUy172q+ASvZTpT1z
                      KIPcZpGmPB3TX2bHaAR67BbRkUR11JgWE3U8+FsGrYmPZtaKM6fg8Mh0WZ41oMYQ
                      NJyQixOktrgqfybyJoT5PeT5AA7QQmd8mku2X9nkAu6gWPf2nHNc7SeQdijmyQQa
                      VK3oqyaxOzWzsU/XbfMEz/ObkefUxgt5Z6jlK0xcW0Q+QgtawMKLUiuo6obWRPcl
                      7Hm9Sze8XJS5pbvS5JkUszxoRZuDVHZylrlHIpA/IL+BnvS+M7SP28UWe9skrv/s
                      6ACpJtuPJ1EYf5fakugOpY7i+hq7YNi//csbc49Qjn2OtttrR7JcTaHUEU1I/tQb
                      QGAtNkI4pJjRVUdDawQFQlWHZD1COixNLErs2HzAI00DhLrY6SKITI/kjN0Xx010
                      XdMcdfay0PLWm6RwxiRmMQFL4GNIC895NF1q6xV4W4rWgqUNlcvKpy+i1chWpRbU
                      He16ul0qh10fcESrRvAbXn5YrQJLrwbSr+85ubN8lYdNLE0qg2cIXZlUilarZZzW
                      ghtCe+KkUpjfRuAi/CqfSwNK3QXEfeVEK6S49mHeSekOizFIw7fmDhCz9vXwMOnb
                      ryRSLEJks0gIRcSDVChXheAqC98y4kcQdniNWFnqJXoqA+rrSokCAwEAAaNmMGQw
                      HQYDVR0OBBYEFK8UXC/sq6dGVFAqEXHsQDzqzwuUMB8GA1UdIwQYMBaAFEHz6RRu
                      OuXj2mwAzOeUinfWeivpMBIGA1UdEwEB/wQIMAYBAf8CAQAwDgYDVR0PAQH/BAQD
                      AgGGMA0GCSqGSIb3DQEBCwUAA4ICAQBDAAaOE2Nbb49eOjyTNxIeOB+ZKQjJ1hUE
                      gRrootAA8NYbtKW/vyxTWnNi5XOGXd4DFS9OKZ0mL/7NyLc0mbTwPH2ZT8KTPUTS
                      Cpo6yktZ/7TMjyAtWZiOMg2EH+6m/nlNSXk/v5fb8+JQLdZfpxoA017dHh3tc8l7
                      KOskCZNwQHgF/YMXrPXUNbsGkXRuJLtpjPw5O9GvPys7p+a1aJH1WCTly9zfB6j+
                      rMF+UGCPDT30sxitVlohik83j6pKLgEAP/gi8nJbILlTP7ce+gJeHR2tfDvmK91X
                      6QgCF2STUFBU7/9H1/pPRRykOxQpAd8xqSgqGEyp9Ie4tysZjwoUEnG8IVJ5ykrI
                      Fximvnb4B+LABV9WEo08n8m1R8wEryrISi8fBPn3Pr5nuayOfFLa15CLTkZF40FN
                      8ika1qNZy8bWRDwTZJQUUb7VCheRWcMwdZdNmhl3J+VZLpQ+ruW7b2ajwacHz5Nw
                      BHKNcmxXb/4vHq/BnlcayHnSqT6036+OZQ+owDegcYmWV6LaM7xLErjHz2EE38M2
                      YSiW5SU1zluDe+iHb6l3Gd3Fj/X1gkMWFgYh0XPMSUSyimLNYzy4THKzmWlcQNFo
                      LLiIDbLrMt+vk+vBkIsNTTPXRJOFPBhmIF6uIUj+2YhzNotX/pQtqMKms3pPlmHq
                      dH6biwygETCCBhYwggP+oAMCAQICCQDquKpymLJ5WzANBgkqhkiG9w0BAQsFADCB
                      lzELMAkGA1UEBhMCVVMxFzAVBgNVBAgMDk5vcnRoIENhcm9saW5hMRIwEAYDVQQH
                      DAlDaGFybG90dGUxEzARBgNVBAoMCk5ldEZvdW5kcnkxKTAnBgNVBAsMIE5ldEZv
                      dW5kcnkgQ2VydGlmaWNhdGUgQXV0aG9yaXR5MRswGQYDVQQDDBJOZXRGb3VuZHJ5
                      IFJvb3QgQ0EwHhcNMTgwNTE4MTY1NDQ3WhcNMzgwNTEzMTY1NDQ3WjCBlzELMAkG
                      A1UEBhMCVVMxFzAVBgNVBAgMDk5vcnRoIENhcm9saW5hMRIwEAYDVQQHDAlDaGFy
                      bG90dGUxEzARBgNVBAoMCk5ldEZvdW5kcnkxKTAnBgNVBAsMIE5ldEZvdW5kcnkg
                      Q2VydGlmaWNhdGUgQXV0aG9yaXR5MRswGQYDVQQDDBJOZXRGb3VuZHJ5IFJvb3Qg
                      Q0EwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDKq/Xa+749Cr3WJGYD
                      DIEtNKIRnTFc6TeiRSm/O7hG2+1Nrh/dObjZJuDjsopWP8NFA/DwlNyEphYKAeSw
                      HDmu+4nFd6ifoeDE2lYq6bNhLcgN+A3MlN5Phb2rnO32YYZwHXGWov+jtd2gaK0f
                      WsH8CQxn6n2v7qvPMTeYFP8p4jqTZw2bvZWw+LMYTFCy541DFqQLQasMg10mXRAV
                      XO7Oa9y+D1re1zLq4wS6u8ItJoKzfmvZkMvD90C/tQ4u0iJaL7GB2SE9MOPDeGVv
                      pnoSAIkSVmvRDUAj2x9PuukykzoL1OAWzc5Cg+5LxRmLejVE7PvPcHaTtNag2tRD
                      w2vbMeFKN8NvQH1QYcaPWZe4Vl9b6DAuTaH5RN919H/F+ZHyjZybVPwC14lflneI
                      KyNy8JEV/YMIbEADWnuiedzDehk2Opn+0+9Zr2X/xfjCo8iWHFbNaVnQX7wdRaOo
                      783lEouncqe46FDBLBpyAuDKHQpIT3MK8rkC/1yBNxsH44vMweUZuK0u7PC9KHtm
                      pQfuflYGfxA34kY6WU3jzyQHetoLYjoxTqNEEjuGpwy2o1j7RaCBEFIbYlnlbhpE
                      WFTaQf96z2GQ6m1U3y7JyDflHSu9Fo1JNkG3qXsjDwda/6W7NRJRgdFrhnOwrm7F
                      6L9X4P1HnzU/VJL66LwPmiHVjQIDAQABo2MwYTAdBgNVHQ4EFgQUQfPpFG465ePa
                      bADM55SKd9Z6K+kwHwYDVR0jBBgwFoAUQfPpFG465ePabADM55SKd9Z6K+kwDwYD
                      VR0TAQH/BAUwAwEB/zAOBgNVHQ8BAf8EBAMCAYYwDQYJKoZIhvcNAQELBQADggIB
                      ACfU74aKWROaxnue8tZb5PFkEbnDRcRrKXRhnptA0vrgB4ydnYxX9hEBZD8o6PBy
                      3rewvl5meSOBE6zyb4JD80lHdzHSVFIwbzsNOeEjCslv/PA/3Y+J7DCt6gPNMDeY
                      uEssdqeSiMoYz2gnven4flSMKgTAJd3/SpVrn35HzXiU9MkmFVpPEMnTctOjw+Jn
                      cCkG5+D9N14dxtgZ/tUfbH+GUfhyGVxRdPrX5KQqAyapMfEaMXXa8KNs7PG+sDiS
                      WI+Sg9jUGtxgkfKdVNtFW+QMXyy7eT3iXPA+1r2hFAhgfIaGtBJUhxPHMhKtjbAg
                      AX+6+2D3GAbaD1+lcQHhKry3hygQ3OX79FJW6zyPS0tiV/LfovHqX/3x9q5PTVBO
                      wEOS2/LCc4R2M7S+HIPf4eSJ+nH4uCIdJ42WCror/mRsuL7geCksi70GHuCynP4y
                      qQFszu/UtbBEsN8loTnLpOInxaGB1Y8UPm14b2Lo1/3HkoMVh0/UaHJ0TmnZ1r7m
                      fGhfRyAZYRdvT1sB+Eb4b5A2zEZqsTc9IwFOhnI4ZilPoZ5s2xejqrVw3GSvovEh
                      dprrQmvxuh+VQ23y/+/4z9b2xWyDu2zVveB4whqPe2rkgxJrEl4GfLk2DW+dN6j8
                      3Zl4lPoUZYwzkC6raCaHyFlAoaTbqz0H6rvVJYxJPS6UoQAxAA=='
  '/':
    get:
      summary: Returns version information
      security: [ ]
      tags:
        - Informational
      operationId: listRoot
      responses:
        '200':
          $ref: '#/responses/listVersion'
  '/version':
    get:
      summary: Returns version information
      security: [ ]
      tags:
        - Informational
      operationId: listVersion
      responses:
        '200':
          $ref: '#/responses/listVersion'
  ###################################################################
  # Informational
  ##################################################################
  '/summary':
    get:
      summary: Returns a list of accessible resource counts
      description: This endpoint is usefull for UIs that wish to display UI elements with counts.
      security:
        - ztSession: [ ]
      tags:
        - Informational
      operationId: listSummary
      responses:
        '200':
          $ref: '#/responses/listSummaryCounts'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/specs':
    get:
      summary: Returns a list of API specs
      description: Returns a list of spec files embedded within the controller for consumption/documentation/code geneartion
      security: [ ]
      tags:
        - Informational
      operationId: listSpecs
      responses:
        '200':
          $ref: '#/responses/listSpecs'
  '/specs/{id}':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Return a single spec resource
      description: Returns single spec resource embedded within the controller for consumption/documentation/code geneartion
      security: [ ]
      tags:
        - Informational
      operationId: detailSpec
      responses:
        '200':
          $ref: '#/responses/detailSpec'
  '/specs/{id}/spec':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Returns the spec's file
      description: Return the body of the specification (i.e. Swagger, OpenAPI 2.0, 3.0, etc).
      security: [ ]
      tags:
        - Informational
      operationId: detailSpecBody
      produces:
        - text/yaml
        - application/json
      responses:
        '200':
          $ref: '#/responses/detailSpecBody'
  ###################################################################
  # API Sessions
  ##################################################################
  '/api-sessions':
    get:
      summary: List active API sessions
      description: |
        Returns a list of active API sessions. The resources can be sorted, filtered, and paginated. This endpoint
        requries admin access.
      security:
        - ztSession: [ ]
      tags:
        - API Session
      operationId: listAPISessions
      produces:
        - application/json; charset=utf-8
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listAPISessions'
  '/api-sessions/{id}':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Retrieves a single API Session
      description: Retrieves a single API Session by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - API Session
      operationId: detailAPISessions
      responses:
        '200':
          $ref: '#/responses/detailAPISession'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    delete:
      summary: Deletes an API Sessions
      description: Deletes and API sesion by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - API Session
      operationId: deleteAPISessions
      responses:
        '200':
          $ref: '#/responses/deleteResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '403':
          $ref: '#/responses/unauthorizedResponse'
  ###################################################################
  # Authentication
  ##################################################################
  '/authenticate':
    parameters:
      - $ref: '#/parameters/authMethod'
    post:
      summary: Authenticate via a method supplied via a query string parameter
      description: |
        Allows authentication  Methods include "password" and "cert"
      security: [ ]
      tags:
        - Authentication
      operationId: authenticate
      parameters:
        - name: Body
          in: body
          required: false
          schema:
            $ref: '#/definitions/authenticate'
      responses:
        '200':
          $ref: '#/responses/detailCurrentAPISession'
        '400':
          $ref: '#/responses/badRequestResponse'
        '403':
          $ref: '#/responses/invalidAuthResponse'
  ###################################################################
  # Authenticators
  ##################################################################
  '/authenticators':
    get:
      summary: List authenticators
      description: |
        Returns a list of authenticators associated to identities. The resources can be sorted, filtered, and paginated.
        This endpoint requries admin access.
      security:
        - ztSession: [ ]
      tags:
        - Authenticator
      operationId: listAuthenticators

      responses:
        '200':
          $ref: '#/responses/listAuthenticators'
    post:
      summary: Creates an authenticator
      description: |
        Creates an authenticator for a specific identity. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Authenticator
      operationId: createAuthenticator
      parameters:
        - name: Body
          in: body
          required: true
          description: A Authenticators create object
          schema:
            $ref: '#/definitions/authenticatorCreate'
      responses:
        '200':
          description: The create was successful
          schema:
            $ref: '#/definitions/authenticatorCreate'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/authenticators/{id}':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Retrieves a single authenticator
      description: Retrieves a single authenticator by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Authenticator
      operationId: detailAuthenticator
      responses:
        '200':
          $ref: '#/responses/detailAuthenticator'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    put:
      summary: Update all fields on an authenticator
      description: Update all fields on an authenticator by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Authenticator
      operationId: updateAuthenticator
      parameters:
        - name: Body
          in: body
          required: true
          description: 'An authenticator put object'
          schema:
            $ref: '#/definitions/authenticatorUpdate'
      responses:
        '200':
          $ref: '#/responses/updateResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    patch:
      summary: Update the supplied fields on an authenticator
      description: Update the supplied fields on an authenticator by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Authenticator
      operationId: patchAuthenticator
      parameters:
        - name: Body
          in: body
          required: true
          description: An authenticator patch object
          schema:
            $ref: '#/definitions/authenticatorPatch'
      responses:
        '200':
          $ref: '#/responses/patchResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    delete:
      summary: Delete an Authenticator
      description: |
        Delete an authenticator by id. Deleting all authenticators for an identity will make it impossible to log in.
        Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Authenticator
      operationId: deleteAuthenticator
      responses:
        '200':
          $ref: '#/responses/deleteResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'

  ###################################################################
  # Certificate Authorities
  ##################################################################
  '/cas':
    get:
      summary: List CAs
      description: Retrieves a list of CA resources; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Certificate Authority
      operationId: listCas
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listCas'
    post:
      summary: Creates a CA
      description: Creates a CA in an unverified state. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Certificate Authority
      operationId: createCa

      parameters:
        - name: Body
          in: body
          required: true
          description: A CA to create
          schema:
            $ref: '#/definitions/caCreate'
      responses:
        '200':
          $ref: '#/responses/createResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/cas/{id}':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Retrieves a single CA
      description: Retrieves a single CA by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Certificate Authority
      operationId: detailCa
      responses:
        '200':
          $ref: '#/responses/detailCa'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    put:
      summary: Update all fields on a CA
      description: Update all fields on a CA by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Certificate Authority
      operationId: updateCa
      parameters:
        - name: Body
          in: body
          required: true
          description: A CA update object
          schema:
            $ref: '#/definitions/caUpdate'
      responses:
        '200':
          $ref: '#/responses/updateResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    patch:
      summary: Update the supplied fields on a CA
      description: Update only the supplied fields on a CA by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Certificate Authority
      operationId: patchCa
      parameters:
        - name: Body
          in: body
          required: true
          description: A CA patch object
          schema:
            $ref: '#/definitions/caPatch'
      responses:
        '200':
          $ref: '#/responses/patchResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    delete:
      summary: Delete a CA
      description: |
        Delete a CA by id. Deleting a CA will delete its associated certificate authenticators. This can make it
        impossible for identities to authenticate if they no longer have any valid authenticators. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Certificate Authority
      operationId: deleteCa
      responses:
        '200':
          $ref: '#/responses/deleteResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/cas/{id}/jwt':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Retrieve the enrollment JWT for a CA
      description: |
        For CA auto enrollment, the enrollment JWT is static and provided on each CA resource. This endpoint provides
        the jwt as a text response.
      security:
        - ztSession: [ ]
      tags:
        - Certificate Authority
      operationId: getCaJwt
      produces:
        - 'application/jwt'
      responses:
        '200':
          description: The result is the JWT text to validate the CA
          schema:
            type: string
          examples:
            'application/jwt': 'eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbSI6ImNhIiwiaXNzIjoiaHR0cHM6Ly9sb2NhbGhvc3Q6MTI
              4MC8ifQ.Ot6lhNBSOw8ygHytdI5l7WDf9EWadOj44UPvJ0c-8mJ54fClWM3uMZrAHSSfV6KmOSZOeBBJe4VlNyoD-_MOECP0BzYSnSQP3E
              zJb0VlM-fFmGcKNGW157icyZNISfO43JL_Lw2QPBzTgikqSIj9eZnocC3BeAmZCHsVznnLfHWqDldcmuxnu-5MNOSrWV1x9iVcgLFlLHXK
              2PLA4qIiZmlQTrQjpHJmUaoJ07mnj8hMKzxB3wBG8kpazjEo7HDRCO06aBH4eqFgf_l0iT8Dzcb31jquWMGUoSXPhf4lVJh_FiNcR1wVx-
              UiHLbG5h23Aqf1UJF-F38rc1FElKz0Zg'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/cas/{id}/verify':
    parameters:
      - $ref: '#/parameters/id'
    post:
      summary: Verify a CA
      description: |
        Allows a CA to become verified by submitting a certificate in PEM format that has been signed by the target CA.
        The common name on the certificate must match the verificationToken property of the CA. Unverfieid CAs can not
        be used for enrollment/authentication. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Certificate Authority
      operationId: verifyCa
      consumes:
        - 'text/plain'
      parameters:
        - name: certificate
          required: true
          in: body
          description: A PEM formatted certificate signed by the target CA with the common name matching the CA's validationToken
          schema:
            type: string
      responses:
        200:
          $ref: '#/responses/emptyResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  ###################################################################
  # Config-Types
  ##################################################################
  '/config-types':
    get:
      summary: List config-types
      description: |
        Retrieves a list of config-type resources; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Config
      operationId: listConfigTypes
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listConfigTypes'
    post:
      summary: Create a config-type. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Config
      operationId: createConfigType
      parameters:
        - name: Body
          in: body
          required: true
          description: A config-type to create
          schema:
            $ref: '#/definitions/configTypeCreate'
      responses:
        '200':
          $ref: '#/responses/createResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/config-types/{id}':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Retrieves a single config-type
      description: Retrieves a single config-type by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Config
      operationId: detailConfigType
      responses:
        '200':
          $ref: '#/responses/detailConfigType'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    put:
      summary: Update all fields on a config-type
      description: Update all fields on a config-type by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Config
      operationId: updateConfigType
      parameters:
        - name: Body
          in: body
          required: true
          description: A config-type update object
          schema:
            $ref: '#/definitions/configTypeUpdate'
      responses:
        '200':
          $ref: '#/responses/updateResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    patch:
      summary: Update the supplied fields on a config-type
      description: Update the supplied fields on a config-type. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Config
      operationId: patchConfigType
      parameters:
        - name: Body
          in: body
          required: true
          description: A config-type patch object
          schema:
            $ref: '#/definitions/configTypePatch'
      responses:
        '200':
          $ref: '#/responses/patchResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    delete:
      summary: Delete a config-type
      description: Delete a config-type by id. Removing a configuration type that are in use will result in a 409 conflict HTTP status code and error. All configurations of a type must be removed first.
      security:
        - ztSession: [ ]
      tags:
        - Config
      operationId: deleteConfigType
      responses:
        '200':
          $ref: '#/responses/deleteResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '409':
          $ref: '#/responses/cannotDeleteReferencedResourceResponse'
  '/config-types/{id}/configs':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Lists the configs of a specific config-type
      description: Lists the configs associated to a config-type. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Config
      operationId: listConfigsForConfigType
      responses:
        '200':
          $ref: '#/responses/listConfigs'
  ###################################################################
  # Configs
  ##################################################################
  '/configs':
    get:
      summary: List configs
      description: |
        Retrieves a list of config resources; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Config
      operationId: listConfigs
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listConfigs'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    post:
      summary: Create a config resource
      description: Create a config resource. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Config
      operationId: createConfig
      parameters:
        - name: Body
          in: body
          required: true
          description: A config to create
          schema:
            $ref: '#/definitions/configCreate'
      responses:
        '200':
          $ref: '#/responses/createResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/configs/{id}':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Retrieves a single config
      description: Retrieves a single config by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Config
      operationId: detailConfig
      responses:
        '200':
          $ref: '#/responses/detailConfig'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    put:
      summary: Update all fields on a config
      description: Update all fields on a config by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Config
      operationId: updateConfig
      parameters:
        - name: Body
          in: body
          required: true
          description: A config update object
          schema:
            $ref: '#/definitions/configUpdate'
      responses:
        '200':
          $ref: '#/responses/updateResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    patch:
      summary: Update the supplied fields on a config
      description: Update the supplied fields on a config. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Config
      operationId: patchConfig
      parameters:
        - name: Body
          in: body
          required: true
          description: A config patch object
          schema:
            $ref: '#/definitions/configPatch'
      responses:
        '200':
          $ref: '#/responses/patchResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    delete:
      summary: Delete a config
      description: Delete a config by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Config
      operationId: deleteConfig
      responses:
        '200':
          $ref: '#/responses/deleteResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '409':
          $ref: '#/responses/cannotDeleteReferencedResourceResponse'

  ###################################################################
  # Current API Session
  ##################################################################
  '/current-api-session':
    get:
      summary: Return the current API session
      description: Retrieves the API session that was used to issue the current request
      security:
        - ztSession: [ ]
      tags:
        - Current API Session
      operationId: getCurrentAPISession
      responses:
        200:
          $ref: '#/responses/detailCurrentAPISession'
        401:
          $ref: '#/responses/unauthorizedResponse'
    delete:
      summary: Logout
      description: Terminates the current API session
      security:
        - ztSession: [ ]
      tags:
        - CurrentAPI Session
      responses:
        200:
          $ref: '#/responses/emptyResponse'
        401:
          $ref: '#/responses/unauthorizedResponse'
  '/current-identity':
    get:
      summary: Return the current identity
      description: Returns the identity associated with the API sessions used to issue the current request
      security:
        - ztSession: [ ]
      tags:
        - Current API Session
      operationId: getCurrentIdentity
      responses:
        '200':
          $ref: '#/responses/detailCurrentIdentity'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/current-identity/authenticators':
    get:
      summary: List authenticators for the current identity
      description: Retrieves a list of authenticators assigned to the current API session's identity; supports filtering, sorting, and pagination.
      security:
        - ztSession: [ ]
      tags:
        - Current API Session
      operationId: listCurrentIdentityAuthenticators
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listAuthenticators'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/current-identity/authenticators/{id}':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Retrieve an authenticator for the current identity
      description: Retrieves a single authenticator by id. Will only show authenticators assigned to the API session's identity.
      security:
        - ztSession: [ ]
      tags:
        - Current API Session
      operationId: detailCurrentIdentityAuthenticator
      responses:
        '200':
          $ref: '#/responses/detailAuthenticator'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    put:
      summary: Update all fields on an authenticator of this identity
      description: |
        Update all fields on an authenticator by id.  Will only update authenticators assigned to the API session's
        identity.
      security:
        - ztSession: [ ]
      tags:
        - Current API Session
      operationId: updateCurrentIdentityAuthenticator
      parameters:
        - name: Body
          in: body
          required: true
          description: 'An authenticator put object'
          schema:
            $ref: '#/definitions/authenticatorUpdateWithCurrent'
      responses:
        '200':
          $ref: '#/responses/updateResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    patch:
      summary: Update the supplied fields on an authenticator of this identity
      description: |
        Update the supplied fields on an authenticator by id. Will only update authenticators assigned to the API
        session's identity.
      security:
        - ztSession: [ ]
      tags:
        - Current API Session
      operationId: patchCurrentIdentityAuthenticator
      parameters:
        - name: Body
          in: body
          required: true
          description: An authenticator patch object
          schema:
            $ref: '#/definitions/authenticatorPatchWithCurrent'
      responses:
        '200':
          $ref: '#/responses/patchResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'

  ###################################################################
  # Edge Router Policies
  ##################################################################
  '/edge-router-policies':
    get:
      summary: List edge router policies
      description: |
        Retrieves a list of edge router policy resources; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Edge Router Policy
      operationId: listEdgeRouterPolicies
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listEdgeRouterPolicies'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    post:
      summary: Create an edge router policy resource
      description: Create an edge router policy resource. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Edge Router Policy
      operationId: createEdgeRouterPolicy
      parameters:
        - name: Body
          in: body
          required: true
          description: An edge router policy to create
          schema:
            $ref: '#/definitions/edgeRouterPolicyCreate'
      responses:
        '200':
          $ref: '#/responses/createResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/edge-router-policies/{id}':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Retrieves a single edge router policy
      description: Retrieves a single edge router policy by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Edge Router Policy
      operationId: detailEdgeRouterPolicy
      responses:
        '200':
          $ref: '#/responses/detailEdgeRouterPolicy'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    put:
      summary: Update all fields on an edge router policy
      description: Update all fields on an edge router policy by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Edge Router Policy
      operationId: updateEdgeRouterPolicy
      parameters:
        - name: Body
          in: body
          required: true
          description: An edge router policy update object
          schema:
            $ref: '#/definitions/edgeRouterPolicyUpdate'
      responses:
        '200':
          $ref: '#/responses/updateResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    patch:
      summary: Update the supplied fields on an edge router policy
      description: Update the supplied fields on an edge router policy. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Edge Router Policy
      operationId: patchEdgeRouterPolicy
      parameters:
        - name: Body
          in: body
          required: true
          description: An edge router policy patch object
          schema:
            $ref: '#/definitions/edgeRouterPolicyPatch'
      responses:
        '200':
          $ref: '#/responses/patchResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    delete:
      summary: Delete an edge router policy
      description: Delete an edge router policy by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Edge Router Policy
      operationId: deleteEdgeRouterPolicy
      responses:
        '200':
          $ref: '#/responses/deleteResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '409':
          $ref: '#/responses/cannotDeleteReferencedResourceResponse'
  '/edge-router-policies/{id}/edge-routers':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List edge routers a policy affects
      description: |
        Retrieves a list of edge routers an edge router policy resources affects; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Edge Router Policy
      operationId: listEdgeRouterPolicyEdgeRouters
      responses:
        '200':
          $ref: '#/responses/listEdgeRouters'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/edge-router-policies/{id}/identities':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List identities an edge router policy affects
      description: |
        Retrieves a list of identities an edge router policy resources affects; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Edge Router Policy
      operationId: listEdgeRouterPolicyIdentities
      responses:
        '200':
          $ref: '#/responses/listIdentities'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  ###################################################################
  # Edge Routers
  ##################################################################
  '/edge-routers':
    get:
      summary: List edge routers
      description: |
        Retrieves a list of edge router resources; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Edge Router
      operationId: listEdgeRouters
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/roleFilter'
        - $ref: '#/parameters/roleSemantic'
      responses:
        '200':
          $ref: '#/responses/listEdgeRouters'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    post:
      summary: Create an edge router
      description: Create a edge router resource. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Edge Router
      operationId: createEdgeRouter
      parameters:
        - name: Body
          in: body
          required: true
          description: A config-type to create
          schema:
            $ref: '#/definitions/edgeRouterCreate'
      responses:
        '200':
          $ref: '#/responses/createResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/edge-routers/{id}':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Retrieves a single edge router
      description: Retrieves a single edge router by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Edge Router
      operationId: detailEdgeRouter
      responses:
        '200':
          $ref: '#/responses/detailEdgeRouter'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    put:
      summary: Update all fields on an edge router
      description: Update all fields on an edge router by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Edge Router
      operationId: updateEdgeRouter
      parameters:
        - name: Body
          in: body
          required: true
          description: An edge router update object
          schema:
            $ref: '#/definitions/edgeRouterUpdate'
      responses:
        '200':
          $ref: '#/responses/updateResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    patch:
      summary: Update the supplied fields on an edge router
      description: Update the supplied fields on an edge router. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Edge Router
      operationId: patchEdgeRouter
      parameters:
        - name: Body
          in: body
          required: true
          description: An edge router patch object
          schema:
            $ref: '#/definitions/edgeRouterPatch'
      responses:
        '200':
          $ref: '#/responses/patchResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    delete:
      summary: Delete an edge router
      description: Delete an edge router by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Edge Router
      operationId: deleteEdgeRouter
      responses:
        '200':
          $ref: '#/responses/deleteResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '409':
          $ref: '#/responses/cannotDeleteReferencedResourceResponse'
  '/edge-routers/{id}/edge-router-policies':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List the edge router policies that affect an edge router
      description: Retrieves a list of edge router policies that apply to the specified edge router.
      security:
        - ztSession: [ ]
      tags:
        - Edge Router
      operationId: listEdgeRouterEdgeRouterPolicies
      responses:
        '200':
          $ref: '#/responses/listEdgeRouterPolicies'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/edge-routers/{id}/identities':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List associated identities
      description: |
        Retrieves a list of identities that may access services via the given edge router. Supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Edge Router
      operationId: listEdgeRouterIdentities
      responses:
        '200':
          $ref: '#/responses/listIdentities'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/edge-routers/{id}/service-edge-router-policies':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List the service policies that affect an edge router
      description: Retrieves a list of service policies policies that apply to the specified edge router.
      security:
        - ztSession: [ ]
      tags:
        - Edge Router
      operationId: listEdgeRouterServiceEdgeRouterPolicies
      responses:
        '200':
          $ref: '#/responses/listServicePolicies'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'

  '/edge-routers/{id}/services':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List associated services
      description: |
        Retrieves a list of services that may be accessed via the given edge router. Supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Edge Router
      operationId: listEdgeRouterServices
      responses:
        '200':
          $ref: '#/responses/listServices'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  ###################################################################
  # Enroll - Identity
  ##################################################################
  '/enroll':
    parameters:
      - $ref: '#/parameters/token-optional'
    post:
      summary: Legacy enrollment endpoint
      description: endpoint defers to the logic in the more specific `enroll/*` endpoints
      operationId: enroll
      tags:
        - Enroll
      consumes:
        - application/pkcs10
        - application/json
        - application/x-pem-file
        - text/plain
      produces:
        #default to PEM for older clients that do not properly set/inspect accept/content-type headers
        - application/x-pem-file
        - application/json
      responses:
        '200':
          $ref: '#/responses/emptyResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
  '/enroll/ca':
    post:
      summary: Enroll an identity with a pre-exchanged certificate
      description: |
        For CA auto enrollment, an identity is not created beforehand.
        Instead one will be created during enrollment. The client will present a client certificate that is signed by a
        Certificate Authority that has been added and verified (See POST /cas and POST /cas/{id}/verify).

        During this process no CSRs are requires as the client should already be in possession of a valid certificate.
      operationId: enrollCa
      tags:
        - Enroll
      responses:
        '200':
          $ref: '#/responses/emptyResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
  '/enroll/ott':
    parameters:
      - $ref: '#/parameters/token'
    post:
      summary: Enroll an identity via one-time-token
      description: |
        Enroll an identity via a one-time-token which is supplied via a query string parameter. This enrollment method
        expects a PEM encoded CSRs to be provided for fulfillment. It is up to the enrolling identity to manage the
        private key backing the CSR request.
      operationId: enrollOtt
      tags:
        - Enroll
      consumes:
        - application/pkcs10
      produces:
        - application/x-x509-user-cert
      responses:
        '200':
          $ref: '#/responses/zitiSignedCert'
        '404':
          $ref: '#/responses/notFoundResponse'
  '/enroll/ottca':
    parameters:
      - $ref: '#/parameters/token'
    post:
      summary: Enroll an identity via one-time-token with a pre-exchanged client certificate
      description: |
        Enroll an identity via a one-time-token that also requires a pre-exchanged client certificate to match a
        Certificate Authority that has been added and verified (See POST /cas and POST /cas{id}/verify). The client
        must present a client certificate signed by CA associated with the enrollment. This enrollment is similar to
        CA auto enrollment except that is required the identity to be pre-created.

        As the client certificat has been pre-exchanged there is no CSR input to this enrollment method.
      operationId: enrollOttCa
      tags:
        - Enroll
      responses:
        '200':
          $ref: '#/responses/emptyResponse'
  '/enroll/updb':
    parameters:
      - $ref: '#/parameters/token'
    post:
      summary: Enroll an identity vvia one-time-token
      description: |
        Enrolls an identity via a one-time-token to establish an initial username and password combination
      operationId: ernollUpdb
      tags:
        - Enroll
      responses:
        '200':
          $ref: '#/responses/emptyResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
  ###################################################################
  # Enroll - Routers
  ##################################################################
  '/enroll/erott':
    parameters:
      - $ref: '#/parameters/token'
    post:
      summary: Enroll an edge-router
      description: |
        Enrolls an edge-router via a one-time-token to establish a certificate based identity.
      operationId: enrollErOtt
      tags:
        - Enroll
      responses:
        '200':
          $ref: '#/responses/erottResponse'


  ###################################################################
  # Enrollments
  ##################################################################
  '/enrollments':
    get:
      summary: List outstanding enrollments
      description: |
        Retrieves a list of outstanding enrollments; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Enrollment
      operationId: listEnrollments
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listEnrollments'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/enrollments/{id}':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Retrieves an outstanding enrollment
      description: Retrieves a single outstanding enrollment by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Enrollment
      operationId: detailEnrollment
      responses:
        '200':
          $ref: '#/responses/detailEnrollment'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    delete:
      summary: Delete an outstanding enrollment
      description: Delete an outstanding enrollment by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Enrollment
      operationId: deleteEnrollment
      responses:
        '200':
          $ref: '#/responses/deleteResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'

  ###################################################################
  # Geo Regions
  ##################################################################
  '/geo-regions':
    get:
      summary: List available geo-regions
      description: |
        Retrieves a list of geo-regions; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Geo Region
      operationId: listGeoRegions
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listGeoRegions'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/geo-regions/{id}':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Retrieves a geo-region
      description: Retrieves a single geo-region by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Geo Region
      operationId: detailGeoRegion
      responses:
        '200':
          $ref: '#/responses/detailGeoRegion'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  ###################################################################
  # Identities
  ##################################################################
  '/identities':
    get:
      summary: List identities
      description: |
        Retrieves a list of identity resources; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Identity
      operationId: listIdentities
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/roleFilter'
        - $ref: '#/parameters/roleSemantic'
      responses:
        '200':
          $ref: '#/responses/listIdentities'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    post:
      summary: Create an identity resource
      description: Create an identity resource. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Identity
      operationId: createIdentity
      parameters:
        - name: Body
          in: body
          required: true
          description: An identity to create
          schema:
            $ref: '#/definitions/identityCreate'
      responses:
        '200':
          $ref: '#/responses/createResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/identities/{id}':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Retrieves a single identity
      description: Retrieves a single identity by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Identity
      operationId: detailIdentity
      responses:
        '200':
          $ref: '#/responses/detailIdentity'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    put:
      summary: Update all fields on an identity
      description: Update all fields on an identity by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Identity
      operationId: updateIdentity
      parameters:
        - name: Body
          in: body
          required: true
          description: An identity update object
          schema:
            $ref: '#/definitions/identityUpdate'
      responses:
        '200':
          $ref: '#/responses/updateResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    patch:
      summary: Update the supplied fields on an identity
      description: Update the supplied fields on an identity. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Identity
      operationId: patchIdentity
      parameters:
        - name: Body
          in: body
          required: true
          description: An identity patch object
          schema:
            $ref: '#/definitions/identityPatch'
      responses:
        '200':
          $ref: '#/responses/patchResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    delete:
      summary: Delete an identity
      description: Delete an identity by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Identity
      operationId: deleteIdentity
      responses:
        '200':
          $ref: '#/responses/deleteResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '409':
          $ref: '#/responses/cannotDeleteReferencedResourceResponse'
  '/identities/{id}/edge-router-policies':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List the edge router policies that affect an idenitty
      description: Retrieves a list of edge router policies that apply to the specified identity.
      security:
        - ztSession: [ ]
      tags:
        - Identity
      operationId: listIdentitysEdgeRouterPolicies
      responses:
        '200':
          $ref: '#/responses/listEdgeRouterPolicies'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/identities/{id}/service-configs':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List the service configs associated a specific identity
      description: Retrieves a list of service configs associated to a specific identity
      security:
        - ztSession: [ ]
      tags:
        - Identity
      operationId: listIdentitysServiceConfigs
      responses:
        '200':
          $ref: '#/responses/listServiceConfigs'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    post:
      summary: Associate service configs for a specific identity
      description: Associate service configs to a specific identity
      parameters:
        - name: Body
          in: body
          required: true
          description: An identity patch object
          schema:
            $ref: '#/definitions/serviceConfigsAssignList'
      security:
        - ztSession: [ ]
      tags:
        - Identity
      operationId: associateIdentitysServiceConfigs
      responses:
        '200':
          $ref: '#/responses/emptyResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    delete:
      summary: Remove associated service configs from a specific identity
      description: Remove service configs from a specific identity
      parameters:
        - name: Body
          in: body
          required: false
          description: An array of service and config id pairs to remove
          schema:
            $ref: '#/definitions/serviceConfigsAssignList'
      security:
        - ztSession: [ ]
      tags:
        - Identity
      operationId: disassociateIdentitysServiceConfigs
      responses:
        '200':
          $ref: '#/responses/emptyResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/identities/{id}/service-policies':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List the service policies that affect an identity
      description: Retrieves a list of service policies that apply to the specified identity.
      security:
        - ztSession: [ ]
      tags:
        - Identity
      operationId: listIdentityServicePolicies
      responses:
        '200':
          $ref: '#/responses/listServicePolicies'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'

  '/identities/{id}/edge-routers':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List accessible edge-routers
      description: |
        Retrieves a list of edge-routers that the given identity may use to access services. Supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Identity
      operationId: listIdentityEdgeRouters
      responses:
        '200':
          $ref: '#/responses/listEdgeRouters'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'

  '/identities/{id}/services':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List accessible services
      description: |
        Retrieves a list of services that the given identity has access to. Supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Identity
      operationId: listIdentityServices
      responses:
        '200':
          $ref: '#/responses/listEdgeRouters'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'

  '/identities/{id}/policy-advice/{serviceId}':
    parameters:
      - $ref: '#/parameters/id'
      - $ref: '#/parameters/serviceId'
    get:
      summary: Analyze policies relating the given identity and service
      description: |
        Analyzes policies to see if the given identity should be able to dial or bind the given service. |
        Will check services policies to see if the identity can access the service. Will check edge router policies |
        to check if the identity and service have access to common edge routers so that a connnection can be made. |
        Will also check if at least one edge router is on-line. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Identity
      operationId: getIdentityPolicyAdvice
      responses:
        '200':
          $ref: '#/responses/getIdentityPolicyAdvice'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/identities/{id}/posture-data':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Retrieve the curent posture data for a specific identity.
      description: |
        Returns a nested map data represeting the posture data of the identity.
        This data should be considered volatile.
      security:
        - ztSession: [ ]
      tags:
        - Identity
      operationId: getIdentityPostureData
      responses:
        '200':
          $ref: '#/responses/getIdentityPostureData'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  ###################################################################
  # Identity-Types
  ##################################################################
  '/identity-types':
    get:
      summary: List available identity types
      description: |
        Retrieves a list of identity types; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Identity
      operationId: listIdentityTypes
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listIdentityTypes'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/identity-types/{id}':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Retrieves a identity type
      description: Retrieves a single identity type by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Identity
      operationId: detailIdentityType
      responses:
        '200':
          $ref: '#/responses/detailIdentityType'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  ###################################################################
  # Service Edge Router Policies
  ##################################################################
  '/service-edge-router-policies':
    get:
      summary: List service edge router policies
      description: |
        Retrieves a list of service edge router policy resources; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service Edge Router Policy
      operationId: listServiceEdgeRouterPolicies
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listServiceEdgeRouterPolicies'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    post:
      summary: Create a service edge router policy resource
      description: Create a service edge router policy resource. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service Edge Router Policy
      operationId: createServiceEdgeRouterPolicy
      parameters:
        - name: Body
          in: body
          required: true
          description: A service edge router policy to create
          schema:
            $ref: '#/definitions/serviceEdgeRouterPolicyCreate'
      responses:
        '200':
          $ref: '#/responses/createResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/service-edge-router-policies/{id}':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Retrieves a single service edge policy
      description: Retrieves a single service edge policy by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service Edge Router Policy
      operationId: detailServiceEdgeRouterPolicy
      responses:
        '200':
          $ref: '#/responses/detailServiceEdgePolicy'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    put:
      summary: Update all fields on a service edge policy
      description: Update all fields on a service edge policy by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service Edge Router Policy
      operationId: updateServiceEdgeRouterPolicy
      parameters:
        - name: Body
          in: body
          required: true
          description: A service edge router policy update object
          schema:
            $ref: '#/definitions/serviceEdgeRouterPolicyUpdate'
      responses:
        '200':
          $ref: '#/responses/updateResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    patch:
      summary: Update the supplied fields on a service edge policy
      description: Update the supplied fields on a service edge policy. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service Edge Router Policy
      operationId: patchServiceEdgeRouterPolicy
      parameters:
        - name: Body
          in: body
          required: true
          description: A service edge router policy patch object
          schema:
            $ref: '#/definitions/serviceEdgeRouterPolicyPatch'
      responses:
        '200':
          $ref: '#/responses/patchResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    delete:
      summary: Delete a service edge policy
      description: Delete a service edge policy by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service Edge Router Policy
      operationId: deleteServiceEdgeRouterPolicy
      responses:
        '200':
          $ref: '#/responses/deleteResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '409':
          $ref: '#/responses/cannotDeleteReferencedResourceResponse'
  '/service-edge-router-policies/{id}/edge-routers':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List the edge routers that a service edge router policy applies to
      description: List the edge routers that a service edge router policy applies to
      security:
        - ztSession: [ ]
      tags:
        - Service Edge Router Policy
      operationId: listServiceEdgeRouterPolicyEdgeRouters
      responses:
        '200':
          $ref: '#/responses/listEdgeRouters'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/service-edge-router-policies/{id}/services':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List the services that a service edge router policy applies to
      description: List the services that a service edge router policy applies to
      security:
        - ztSession: [ ]
      tags:
        - Service Edge Router Policy
      operationId: listServiceEdgeRouterPolicyServices
      responses:
        '200':
          $ref: '#/responses/listServices'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'

  ###################################################################
  # Service Policies
  ##################################################################
  '/service-policies':
    get:
      summary: List service policies
      description: |
        Retrieves a list of service policy resources; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service Policy
      operationId: listServicePolicies
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listServicePolicies'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    post:
      summary: Create a service policy resource
      description: Create a service policy resource. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service Policy
      operationId: createServicePolicy
      parameters:
        - name: Body
          in: body
          required: true
          description: A service policy to create
          schema:
            $ref: '#/definitions/servicePolicyCreate'
      responses:
        '200':
          $ref: '#/responses/createResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/service-policies/{id}':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Retrieves a single service policy
      description: Retrieves a single service policy by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service Policy
      operationId: detailServicePolicy
      responses:
        '200':
          $ref: '#/responses/detailServicePolicy'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    put:
      summary: Update all fields on a service policy
      description: Update all fields on a service policy by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service Policy
      operationId: updateServicePolicy
      parameters:
        - name: Body
          in: body
          required: true
          description: A service policy update object
          schema:
            $ref: '#/definitions/servicePolicyUpdate'
      responses:
        '200':
          $ref: '#/responses/updateResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    patch:
      summary: Update the supplied fields on a service policy
      description: Update the supplied fields on a service policy. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service Policy
      operationId: patchServicePolicy
      parameters:
        - name: Body
          in: body
          required: true
          description: A service policy patch object
          schema:
            $ref: '#/definitions/servicePolicyPatch'
      responses:
        '200':
          $ref: '#/responses/patchResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    delete:
      summary: Delete a service policy
      description: Delete a service policy by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service Policy
      operationId: deleteServicePolicy
      responses:
        '200':
          $ref: '#/responses/deleteResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '409':
          $ref: '#/responses/cannotDeleteReferencedResourceResponse'
  '/service-policies/{id}/identities':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List identities a service policy affects
      description: |
        Retrieves a list of identity resources that are affected by a service policy; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service Policy
      operationId: listServicePolicyIdentities
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listIdentities'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '400':
          $ref: '#/responses/notFoundResponse'
  '/service-policies/{id}/services':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List services a service policy affects
      description: |
        Retrieves a list of service resources that are affected by a service policy; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service Policy
      operationId: listServicePolicyServices
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listServices'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '400':
          $ref: '#/responses/notFoundResponse'
  '/service-policies/{id}/posture-checks':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List posture check a service policy includes
      description: |
        Retrieves a list of posture check resources that are affected by a service policy; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service Policy
      operationId: listServicePolicyPostureChecks
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listPostureChecks'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '400':
          $ref: '#/responses/notFoundResponse'
  ###################################################################
  # Services
  ##################################################################
  '/services':
    get:
      summary: List services
      description: |
        Retrieves a list of config resources; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service
      operationId: listServices
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
        - $ref: '#/parameters/roleFilter'
        - $ref: '#/parameters/roleSemantic'
      responses:
        '200':
          $ref: '#/responses/listServices'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    post:
      summary: Create a services resource
      description: Create a services resource. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service
      operationId: createService
      parameters:
        - name: Body
          in: body
          required: true
          description: A service to create
          schema:
            $ref: '#/definitions/serviceCreate'
      responses:
        '200':
          $ref: '#/responses/createResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/services/{id}':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Retrieves a single service
      description: Retrieves a single service by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service
      operationId: detailService
      responses:
        '200':
          $ref: '#/responses/detailService'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    put:
      summary: Update all fields on a service
      description: Update all fields on a service by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service
      operationId: updateService
      parameters:
        - name: Body
          in: body
          required: true
          description: A service update object
          schema:
            $ref: '#/definitions/serviceUpdate'
      responses:
        '200':
          $ref: '#/responses/updateResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    patch:
      summary: Update the supplied fields on a service
      description: Update the supplied fields on a service. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service
      operationId: patchService
      parameters:
        - name: Body
          in: body
          required: true
          description: A service patch object
          schema:
            $ref: '#/definitions/servicePatch'
      responses:
        '200':
          $ref: '#/responses/patchResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    delete:
      summary: Delete a service
      description: Delete a service by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service
      operationId: deleteService
      responses:
        '200':
          $ref: '#/responses/deleteResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '409':
          $ref: '#/responses/cannotDeleteReferencedResourceResponse'
  '/services/{id}/configs':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List configs associated to a specific service
      description: |
        Retrieves a list of config resources associated to a specific service; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service
      operationId: listServiceConfig
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listConfigs'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/services/{id}/service-edge-router-policies':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List service edge router policies that affect a specific service
      description: |
        Retrieves a list of service edge router policy resources that affect a specific service; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service
      operationId: listServiceServiceEdgeRouterPolicies
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listServiceEdgeRouterPolicies'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/services/{id}/service-policies':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List service policies that affect a specific service
      description: |
        Retrieves a list of service policy resources that affect specific service; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service
      operationId: listServiceServicePolicies
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listServicePolicies'
        '401':
          $ref: '#/responses/unauthorizedResponse'

  '/services/{id}/identities':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List identities with access
      description: |
        Retrieves a list of identities that have access to this service. Supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service
      operationId: listServiceIdentities
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listIdentities'
        '401':
          $ref: '#/responses/unauthorizedResponse'

  '/services/{id}/edge-routers':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List accessible edge-routers
      description: |
        Retrieves a list of edge-routers that may be used to access the given service. Supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Service
      operationId: listServiceEdgeRouters
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listEdgeRouters'
        '401':
          $ref: '#/responses/unauthorizedResponse'

  '/services/{id}/terminators':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: List of terminators assigned to a service
      description: |
        Retrieves a list of terminator resources that are assigned specific service; supports filtering, sorting, and pagination.
      security:
        - ztSession: [ ]
      tags:
        - Service
      operationId: listServiceTerminators
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listTerminators'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  ###################################################################
  # Sessions
  ##################################################################
  '/sessions':
    get:
      summary: List sessions
      description: |
        Retrieves a list of active sessions resources; supports filtering, sorting, and pagination. Requires admin access.

        Sessions are tied to an API session and are moved when an API session times out or logs out. Active sessions
        (i.e. Ziti SDK connected to an edge router) will keep the session and API session marked as active.
      security:
        - ztSession: [ ]
      tags:
        - Session
      operationId: listSessions
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listSessions'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    post:
      summary: Create a session resource
      description: Create a session resource. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Session
      operationId: createSession
      parameters:
        - name: Body
          in: body
          required: true
          description: A session to create
          schema:
            $ref: '#/definitions/sessionCreate'
      responses:
        '200':
          $ref: '#/responses/sessionCreateResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/sessions/{id}':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Retrieves a single session
      description: Retrieves a single session by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Session
      operationId: detailSession
      responses:
        '200':
          $ref: '#/responses/detailSession'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    delete:
      summary: Delete a session
      description: Delete a session by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Session
      operationId: deleteSession
      responses:
        '200':
          $ref: '#/responses/deleteResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '409':
          $ref: '#/responses/cannotDeleteReferencedResourceResponse'
  ###################################################################
  # Terminators
  ##################################################################
  '/terminators':
    get:
      summary: List terminators
      description: |
        Retrieves a list of terminator resources; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Terminator
      operationId: listTerminators
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listTerminators'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    post:
      summary: Create a terminator resource
      description: Create a terminator resource. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Terminator
      operationId: createTerminator
      parameters:
        - name: Body
          in: body
          required: true
          description: A terminator to create
          schema:
            $ref: '#/definitions/terminatorCreate'
      responses:
        '200':
          $ref: '#/responses/createResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/terminators/{id}':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Retrieves a single terminator
      description: Retrieves a single terminator by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Terminator
      operationId: detailTerminator
      responses:
        '200':
          $ref: '#/responses/detailTerminator'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    put:
      summary: Update all fields on a terminator
      description: Update all fields on a terminator by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Terminator
      operationId: updateTerminator
      parameters:
        - name: Body
          in: body
          required: true
          description: A terminator update object
          schema:
            $ref: '#/definitions/terminatorUpdate'
      responses:
        '200':
          $ref: '#/responses/updateResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    patch:
      summary: Update the supplied fields on a terminator
      description: Update the supplied fields on a terminator. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Terminator
      operationId: patchTerminator
      parameters:
        - name: Body
          in: body
          required: true
          description: A terminator patch object
          schema:
            $ref: '#/definitions/terminatorPatch'
      responses:
        '200':
          $ref: '#/responses/patchResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    delete:
      summary: Delete a terminator
      description: Delete a terminator by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Terminator
      operationId: deleteTerminator
      responses:
        '200':
          $ref: '#/responses/deleteResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '409':
          $ref: '#/responses/cannotDeleteReferencedResourceResponse'

  ###################################################################
  # List Role Attributes in Use
  ##################################################################
  '/edge-router-role-attributes':
    get:
      summary: List role attributes in use by edge routers
      description: |
        Retrieves a list of role attributes in use by edge routers; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Role Attributes
      operationId: listEdgeRouterRoleAttributes
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listRoleAttributes'
        '401':
          $ref: '#/responses/unauthorizedResponse'

  '/identity-role-attributes':
    get:
      summary: List role attributes in use by identities
      description: |
        Retrieves a list of role attributes in use by identities; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Role Attributes
      operationId: listIdentityRoleAttributes
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listRoleAttributes'
        '401':
          $ref: '#/responses/unauthorizedResponse'

  '/service-role-attributes':
    get:
      summary: List role attributes in use by services
      description: |
        Retrieves a list of role attributes in use by services; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Role Attributes
      operationId: listServiceRoleAttributes
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listRoleAttributes'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  ###################################################################
  # Transit Routers
  ##################################################################
  '/transit-routers':
    get:
      summary: List transit routers
      description: |
        Retrieves a list of transit router resources; supports filtering, sorting, and pagination. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Transit Router
      operationId: listTransitRouters
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/filter'
      responses:
        '200':
          $ref: '#/responses/listTransitRouters'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    post:
      summary: Create a transit router resource
      description: Create a transit router resource. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Transit Router
      operationId: createTransitRouter
      parameters:
        - name: Body
          in: body
          required: true
          description: A transit router to create
          schema:
            $ref: '#/definitions/transitRouterCreate'
      responses:
        '200':
          $ref: '#/responses/createResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  '/transit-routers/{id}':
    parameters:
      - $ref: '#/parameters/id'
    get:
      summary: Retrieves a single transit router
      description: Retrieves a single transit router by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Transit Router
      operationId: detailTransitRouter
      responses:
        '200':
          $ref: '#/responses/detailTransitRouter'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    put:
      summary: Update all fields on a transit router
      description: Update all fields on a transit router by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Transit Router
      operationId: updateTransitRouter
      parameters:
        - name: Body
          in: body
          required: true
          description: A transit router update object
          schema:
            $ref: '#/definitions/transitRouterUpdate'
      responses:
        '200':
          $ref: '#/responses/updateResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    patch:
      summary: Update the supplied fields on a transit router
      description: Update the supplied fields on a transit router. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Transit Router
      operationId: patchTransitRouter
      parameters:
        - name: Body
          in: body
          required: true
          description: A transit router patch object
          schema:
            $ref: '#/definitions/transitRouterPatch'
      responses:
        '200':
          $ref: '#/responses/patchResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '404':
          $ref: '#/responses/notFoundResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
    delete:
      summary: Delete a transit router
      description: Delete a transit router by id. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Transit Router
      operationId: deleteTransitRouter
      responses:
        '200':
          $ref: '#/responses/deleteResponse'
        '400':
          $ref: '#/responses/badRequestResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '409':
          $ref: '#/responses/cannotDeleteReferencedResourceResponse'

  ###################################################################
  # Database
  ##################################################################
  '/database/snapshot':
    post:
      summary: Create a new database snapshot
      description: Create a new database snapshot. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Database
      operationId: createDatabaseSnapshot
      responses:
        '200':
          $ref: '#/responses/emptyResponse'
        '401':
          $ref: '#/responses/unauthorizedResponse'
        '429':
          $ref: '#/responses/rateLimitedResponse'
  /database/check-data-integrity:
    get:
      summary: Runs an data integrity scan on the datastore and returns any found issues
      description: Runs an data integrity scan on the datastore and returns any found issues. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Database
      operationId: checkDataIntegrity
      responses:
        '200':
          $ref: '#/responses/dataIntegrityCheckResult'
        '401':
          $ref: '#/responses/unauthorizedResponse'
  /database/fix-data-integrity:
    post:
      summary: Runs an data integrity scan on the datastore, attempts to fix any issues it can and returns any found issues
      description: Runs an data integrity scan on the datastore, attempts to fix any issues it can, and returns any found issues. Requires admin access.
      security:
        - ztSession: [ ]
      tags:
        - Database
      operationId: fixDataIntegrity
      responses:
        '200':
          $ref: '#/responses/dataIntegrityCheckResult'
        '401':
          $ref: '#/responses/unauthorizedResponse'

  ###################################################################
  # Posture Check Types
  ##################################################################
  '/posture-check-types':
    get:
      summary: List a subset of posture check types
      description: |
        Retrieves a list of posture check types
      security:
        - ztSession: [ ]
      tags:
        - Posture Checks
      operationId: listPostureCheckTypes
      produces:
        - application/json; charset=utf-8
      parameters:
        - $ref: '#/parameters/limit'
[...]
