name: build

on:
  push:
    branches:
      - main
      - release-v*
      - builx-action # TODO: prune after initial testing
  pull_request:
  workflow_dispatch:

env:
  GOX_OUTPUT: "release/{{.Arch}}/{{.OS}}/{{.Dir}}"
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  gh_ci_key: ${{ secrets.GH_CI_KEY }}

jobs:
  mac-os-build:
    name: Build Mac OS binaries
    runs-on: macos-10.15
    steps:
      - name: Git Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '~1.17.1'

      - name: Install Ziti CI
        uses: netfoundry/ziti-ci@v1

      - name: Build and Test
        run: |
          pip install --upgrade pip
          pip install awscli
          go get github.com/mitchellh/gox
          $(go env GOPATH)/bin/ziti-ci generate-build-info common/version/info_generated.go version
          CGO_ENABLED=true $(go env GOPATH)/bin/gox -os=darwin -arch=amd64 -output=$GOX_OUTPUT ./...
          aws s3 sync --no-progress release/ s3://ziti-cmd-build-tmp/${{ github.run_id }}

  windows-build:
    name: Build Windows binaries
    runs-on: windows-2019
    steps:
      - name: Git Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '~1.17.1'

      - name: Install Ziti CI
        uses: netfoundry/ziti-ci@v1

      - name: Build and Test
        shell: bash
        run: |
          choco install python --version 3.6.8
          python -m pip install --upgrade pip
          pip install awscli
          go get github.com/mitchellh/gox
          $(go env GOPATH)/bin/ziti-ci generate-build-info common/version/info_generated.go version
          CGO_ENABLED=true $(go env GOPATH)/bin/gox -os=windows -arch=amd64 -output=$GOX_OUTPUT ./...
          aws s3 sync --no-progress release/ s3://ziti-cmd-build-tmp/${{ github.run_id }}

  tag-and-publish:
    name: Build Linux Binaries and Docker Image, Tag, and Publish
    runs-on: ubuntu-18.04
    needs: [ mac-os-build, windows-build ]
    steps:
      - name: Git Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '~1.17.1'

      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - name: Install Ziti CI
        uses: netfoundry/ziti-ci@v1

      - name: Build and Test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          sudo apt-get -yq install gcc-arm-linux-gnueabihf g++-arm-linux-gnueabihf
          python -m pip install --upgrade pip
          pip install awscli
          $(go env GOPATH)/bin/ziti-ci configure-git
          $(go env GOPATH)/bin/ziti-ci generate-build-info common/version/info_generated.go version
          go get github.com/mitchellh/gox
          CGO_ENABLED=true $(go env GOPATH)/bin/gox -os=linux -arch=amd64 -output=$GOX_OUTPUT ./...
          CC=arm-linux-gnueabihf-gcc CGO_ENABLED=true gox -cgo -os=linux -arch=arm -output=$GOX_OUTPUT ./...
          aws s3 sync --no-progress s3://ziti-cmd-build-tmp/${{ github.run_id }} release/
          aws s3 rm --recursive s3://ziti-cmd-build-tmp/${{ github.run_id }}

      - name: Publish
        if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release-v')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          $(go env GOPATH)/bin/ziti-ci tag -v -f version
          $(go env GOPATH)/bin/ziti-ci publish-to-github

      - name: Trigger Smoketest
        env:
          JFROG_API_KEY: ${{ secrets.JFROG_API_KEY }}
          jenkins_user: ${{ secrets.JENKINS_USER }}
          jenkins_user_token: ${{ secrets.JENKINS_USER_TOKEN }}
          jenkins_job_token: ${{ secrets.JENKINS_JOB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          $(go env GOPATH)/bin/ziti-ci publish-to-artifactory
          $(go env GOPATH)/bin/ziti-ci trigger-jenkins-smoke-build

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: amd64,arm64,arm

      - name: Set up builder
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up image tags
        env:
          DOCKER_IMAGE: openziti/ziti-tunnel
        id: tagprep
        run: |
          TAGS="${DOCKER_IMAGE}:${GITHUB_SHA::8}"
          # If this is release tag then add the semver and "latest" to image tags
          if [[ $GITHUB_REF =~ refs/tags/v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            ZITI_VERSION=${GITHUB_REF#refs/tags/v}
            TAGS+=",${DOCKER_IMAGE}:${ZITI_VERSION},${DOCKER_IMAGE}:latest"
          fi
          # Set output parameters.
          echo ::set-output name=tags::${TAGS}

      - name: Build & Push Container Image to Hub
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: . # build context is workspace so we can copy artifacts from ./release
          file: ./ziti-tunnel/docker/Dockerfile.copy # a Dockerfile that does copy instead of fetch
          build-args: | # base dir for copy/add operations in Dockerfile
            DOCKER_BUILD_DIR=./ziti-tunnel/docker
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          push: true
          tags: ${{ steps.tagprep.outputs.tags }}
