name: mattermost-ziti-py-webhook
on:
  create:
  delete:
  issues:
  issue_comment:
  pull_request_review:
    types:
      - submitted
  pull_request_review_comment:
  pull_request:
    types:
      - opened
      - reopened
  push:
  fork:
  release:
    types:
      - released
  workflow_dispatch:

permissions:
  contents: read

jobs:
  send-notifications:
    runs-on: ubuntu-24.04
    name: POST Webhook with Python
    env:
      # filter out uninteresting events
      IS_INTERESTING: ${{ github.event_name != 'pull_request_review' || (github.event_name == 'pull_request_review' && github.event.review.state == 'approved') }}
    steps:
      - name: Notify dev-notifications channel
        uses: openziti/ziti-mattermost-action-py@v1
        if: ${{ env.IS_INTERESTING == 'true' && secrets.ZHOOK_URL_DEV_NOTIFICATIONS != '' && secrets.ZITI_MATTERMOST_IDENTITY != '' }}
        with:
          # Identity JSON or Base64 encoded JSON
          zitiId: ${{ secrets.ZITI_MATTERMOST_IDENTITY }}

          # http://<ziti service intercept address>/hooks/<incoming webhook secret token>
          # http://mattermost.ziti.internal:80/hooks/asdflkhjasdflkhjasdflkhjasdflkhj
          webhookUrl: ${{ secrets.ZHOOK_URL_DEV_NOTIFICATIONS }}

          # Event JSON or Base64 encoded JSON
          eventJson: ${{ toJson(github.event) }}

          # Sender username to spoof in Mattermost
          senderUsername: GitHubZ

      - name: Notify github-sig-core channel
        uses: openziti/ziti-mattermost-action-py@v1
        if: ${{ env.IS_INTERESTING == 'true' && secrets.ZHOOK_URL_GITHUB_SIG_CORE != '' && secrets.ZITI_MATTERMOST_IDENTITY != '' }}
        with:
          # Identity JSON or Base64 encoded JSON
          zitiId: ${{ secrets.ZITI_MATTERMOST_IDENTITY }}

          # http://<ziti service intercept address>/hooks/<incoming webhook secret token>
          # http://mattermost.ziti.internal:80/hooks/asdflkhjasdflkhjasdflkhjasdflkhj
          webhookUrl: ${{ secrets.ZHOOK_URL_GITHUB_SIG_CORE }}

          # Event JSON or Base64 encoded JSON
          eventJson: ${{ toJson(github.event) }}

          # Sender username to spoof in Mattermost
          senderUsername: GitHubZ
