name: Validation (SDK Terminators)

on:
  workflow_call:
  workflow_dispatch:

jobs:
  sdk-terminator-validation:
    name: SDK Terminator Validation
    uses: ./.github/workflows/validation-test.yml
    secrets: inherit
    with:
      test: sdk-hosting-test